<link rel="import" href="../bower_components/polymer/polymer.html">
<!--<link rel="import" href="../bower_components/core-ajax/core-ajax.html">-->

<polymer-element name="mdcms-markdown-editor" attributes="mdCmsContentId">
    <script type="text/javascript" src="../javascripts/polyfills.js"></script>
    <script type="text/javascript" src="../lib/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="../lib/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="Mdcms.Markdown.Editor.js"></script>
    <script type="text/javascript">
        var previousValue;
        var editor;
        var polymerThis;


        MouseEvent.prototype.getDataTransfer = function() {
            if (this.dataTransfer) {
                console.log("Returning dataTransfer");
                return this.dataTransfer;
            } else if (this.clipboardData) {
                console.log("Returning clipboardData");
                return this.cliboardData;
            } else {
                console.error("FEIL: No data");
            }
        };

        function dropIntercept(event) {
            alert("Dropped");
            var overlay = polymerThis.$["drag-upload-overlay"];
            overlay.style.display = "none";

            event.preventDefault();
            event.cancelBubble = true;
            console.log("Dropping", event);
            console.log("Caret position: " + polymerThis.$["wmd-input"].selectionStart);
            var dt = event.getDataTransfer();
            console.log("DataTransfer types:", dt.types, "files: ", dt.files.length);
            if (dt.items.length == 1) {
                var item = dt.items[0];
                console.log("Kind: ", item.kind);
                var file = item.getAsFile();
                window.droppedFile = file;
                console.log("File: ", file);
            }
            // Fra http://html5demos.com/dnd-upload
            var reader = new FileReader();
            reader.onload = function(event){
                console.log("Setter window.droppedBlob til", event.target.result);
                var image = new Image();
                image.width = 250; // A fake resize
                image.src = event.target.result;
                window.droppedImg = image;
//                window.droppedFile = event.target.result;
                polymerThis.$["wmd-panel"].querySelector("#wmd-image-button").click();
            };
            reader.readAsDataURL(file);
        }

        function hideOverlay(overlay) {
            overlay.style.display = "none";
        }

        function displayOverlay(overlay) {
            var textEdit = polymerThis.$["wmd-input"];
            var x = textEdit.offsetLeft;
            var y = textEdit.offsetTop;
            var width = textEdit.offsetWidth;
            var height = textEdit.offsetHeight;
            overlay.style.top = y + "px";
            overlay.style.left = x + "px";
            overlay.style.width = width + "px";
            overlay.style.height = height + "px";
            overlay.style.display = "-webkit-box";
        }

        function cancelEvent(event) {
            event.preventDefault();
            return false;
        }

        function dragIntercept(event) {
//            var textedit = polymerThis.$["wmd-input"];
            console.log("Dragging");
//            console.log("TextEdit selection: ", textedit.selectionStart, textedit.selectionEnd);
//            console.log("Dragging", event);
            var dt = event.getDataTransfer();
//            console.log("DataTransfer types:", dt.types, "files: ", dt.files.length, "items: " + dt.items.length);
            if (dt.items.length > 0) {
                var item = dt.items[0];
//                console.log("Item: ", item);
//                console.log("Type: ", item.type);
                if (/^image\/.*$/.test(item.type)) {
//                    console.log("Image");
                    displayOverlay(polymerThis.$["drag-upload-overlay"]);
                }
//                console.log("Kind: ", item.kind);
//                var file = item.getAsFile();
//                console.log("File: ", file);
            }
        }

        function dragLeaveIntercept() {
            console.log("Drag leave");
            var overlay = polymerThis.$["drag-upload-overlay"];
            overlay.style.display = "none";
        }

        function pasteIntercept(event) {
            console.log("Pasting", event);
            if (event.clipboardData) {
                console.log("ClipboardData", event.clipboardData);
                var dt = event.clipboardData;
                if (dt.items.length > 0) {
                    var item = dt.items[0];
    //                console.log("Item: ", item);
    //                console.log("Type: ", item.type);
                    if (/^image\/.*$/.test(item.type)) {
    //                    console.log("Image");
                        alert("Pasting image");
                    }
                    console.log("Kind: ", item.kind);
                    var file = item.getAsFile();
                    console.log("File: ", file);
                }
            }
        }

    Polymer('mdcms-markdown-editor', {
        mdCmsContentId: "content-url-goes-here",
        textArea: undefined,
        get value() {
            return this.textArea.value;
        },
        set value(txt) {
            this.textArea.value = txt;
        },
        attached: function() {
            var md = Markdown.getSanitizingConverter();
            var _this = this;
//            var textedit = polymerThis.$["textedit"];
            console.log("Initializing editor");
            polymerThis = this;
            editor = new Markdown.Editor(md, polymerThis.shadowRoot);
            this.textArea = polymerThis.$["wmd-input"];
            editor.getImages = function() {
                var imageUrls = [];
                var imageRefs;
                var imageRefRegexp = new RegExp("!\\[.*?]\\[(\\d+)]", "g");
                while ((imageRefs = imageRefRegexp.exec(_this.textArea.value)) !== null) {
                    var imageRef = imageRefs[1];
                    var urlRegexp = new RegExp("\\s{0,4}\\[" + imageRef + "]\\:\\s*(.*)", "g");
                    var possibleUrlMatch = urlRegexp.exec(_this.textArea.value);
                    if (possibleUrlMatch !== null) {
                        imageUrls.push({"ref": imageRef, "url": possibleUrlMatch[1]});
                    }
                }
                return imageUrls;
            };
            console.log("Adding dragEnter handler");
            this.textArea.addEventListener("dragenter", dragIntercept, true);
            console.log("Adding paste handler");
            this.textArea.addEventListener("paste", pasteIntercept);
            var panel = polymerThis.$["wmd-panel"];
            var dragUploadOverlay = polymerThis.$["drag-upload-overlay"];
            var imageUploadOverlay = polymerThis.$["image-upload-overlay"];
            panel.addEventListener("drop", dropIntercept);
            panel.addEventListener("dragover", cancelEvent);
            dragUploadOverlay.addEventListener("dragleave", dragLeaveIntercept, false);
            editor.hooks.set("insertImageDialog", function (callback) {
                if (window.droppedImg) {
                    hideOverlay(dragUploadOverlay);
//                    console.log("Dropped blob: ", window.droppedImg);
                    imageUploadOverlay.appendChild(window.droppedImg);
                    var progressEl = document.createElement("progress");
                    progressEl.setAttribute("value", 0);
                    progressEl.setAttribute("min", 0);
                    progressEl.setAttribute("max", 100);
                    imageUploadOverlay.appendChild(progressEl);
                    displayOverlay(imageUploadOverlay);
                    // TODO: Lagre blob-innholdet på serveren, sende URL til callback
                    var formData = new FormData();
                    formData.append("file", window.droppedFile);
                    var xhr = new XMLHttpRequest();
                    xhr.onload = function(evt) {
                        progressEl.value = progressEl.innerHTML = 100;
//                        var url = evt.target.getResponseHeader("Location");
                        var ul = document.createElement("ul");
                        imageUploadOverlay.innerHTML = "";
                        var uploadedLocation = evt.target.getResponseHeader("Location");
                        var li = document.createElement("li");
                        var img = document.createElement("img");
                        li.appendChild(img);
                        img.src = uploadedLocation;
                        img.width = 50;
                        img.style.maxHeight = "100px";
                        img.style.maxWidth = "50px";
                        img.className = "image-insert-thumbnail";
                        ul.appendChild(li);
                        img.addEventListener("click", function(evt) {
                            callback(evt.target.src);
                            hideOverlay(imageUploadOverlay);
                        });
                        imageUploadOverlay.appendChild(ul);
                    };
                    xhr.upload.onprogress = function(evt) {
                        if (evt.lengthComputable) {
                            var pctComplete = evt.loaded / evt.total * 100 | 0;
                            progressEl.value = progressEl.innerHTML = pctComplete;
                        }
                    };
                    xhr.open("POST", window.droppedFile.name);
                    xhr.send(formData);
//                    var dataUrl = imageUploadOverlay.getElementsByTagName("img")[0].src;
                }

                return true; // tell the editor that we'll take care of getting the image url
            });
            editor.hooks.chain("onPreviewRefresh", function() {
                var message = {"mdcms-content-id": polymerThis.mdCmsContentId, "html": polymerThis.$["wmd-preview"].innerHTML};
                polymerThis.asyncFire("refresh-preview", message);
                window.parent.postMessage(message, window.location.protocol + "//" + window.location.host);
            });
            editor.run();
            //noinspection JSUnusedLocalSymbols
            var json = new TextFetch(this.mdCmsContentId, function(text, fetcher, evt) {
                _this.textArea.value = text;
                editor.refreshPreview();
            });

        }
    });
    </script>

  <template>
      <style>

          /*noinspection CssUnusedSymbol*/
          .wmd-button-row {
              list-style-type: none;
              width: 100%;
              padding: 0;
              margin: 0;
              height: 20px;
              margin-bottom: 1em;
          }

          /*noinspection CssUnusedSymbol*/
          .wmd-spacer {
              width: 1em;
              height: 20px;
              margin-left: 14px;
              display: inline-block;
              /*display: none;*/
              list-style: none;
          }

          /*noinspection CssUnusedSymbol*/
          .wmd-button {
              background-repeat: no-repeat;
              width: 25px;
              height: 20px;
              display: inline-block;
              cursor: pointer;
          }

          /*noinspection CssUnusedSymbol*/
          #wmd-image-button {
              display: none;
          }

          .wmd-button > span {
              background-image: url('../images/wmd-buttons.png');
              outline: 1px solid green;
              display: inline-block;
              width: 20px;
              height: 20px;
          }

          /*noinspection CssUnusedSymbol,CssUnknownProperty*/
          #drag-upload-overlay, #image-upload-overlay {
              font-family: "Helvetica Neue Light", Arial, sans-serif;
              font-size: 24pt;
              text-shadow: 2px 2px;
              vertical-align: middle;
              z-index: 1001;
              position: absolute;
              display: none;
              background-color: gray;
              text-align: center;
              opacity: .6;
              /*display: -webkit-box;*/
              -webkit-box-pack: center;
              -webkit-box-align: center;
          }

      </style>
      <div class="wmd-panel" id="wmd-panel">
          <div id="image-upload-overlay">

          </div>
          <div id="drag-upload-overlay">
              Drop here to upload
          </div>
          <div id="wmd-button-bar" style=""></div>
          <textarea id="wmd-input" rows="30" cols="80">![Laks meg her og der][1]


        [1]: https://www.google.com/images/srpr/logo11w.png</textarea>
          <div id="wmd-preview"></div>
      </div>
  </template>
</polymer-element>