<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="mdcms-upload-dropzone" attributes="content-type targetId dropEffect">
    <script type="text/javascript" src="../javascripts/polyfills.js"></script>
    <script type="text/javascript" src="../lib/contenttype/contenttype.js"></script>
    <script>
        (function () {
            Polymer('mdcms-upload-dropzone', {
                "content-type": undefined,
                dragOverlay: undefined,
                targetId: undefined,
                dropEffect: "copy",
                globalHighlightDropzones: function (event) {
                    var ownerDocument = this.shadowRoot.host.ownerDocument;
                    event.preventDefault();
                    Array.prototype.slice.call(ownerDocument.querySelectorAll("html /deep/ mdcms-upload-dropzone")).forEach(function (dropzone) {
                        if (dropzone.acceptsDrop(event)) {
                            dropzone.classList.add("highlighted");
                            dropzone.highlight();
                        }
                    });
                },
                globalUnhighlightDropzones : function (event) {
                    var ownerDocument = this.shadowRoot.host.ownerDocument;
                    console.log("Unhighlighting dropzones");
                    Array.prototype.slice.call(ownerDocument.querySelectorAll("html /deep/ mdcms-upload-dropzone.highlighted")).forEach(function (dropzone) {
                        dropzone.classList.remove("highlighted");
                        dropzone.unhighlight();
                    });
                },
                domReady: function() {
                    this.dragOverlay = this.$["drag-upload-overlay"];
                    if (this.targetId == undefined) {
                        this.hostParent = this.shadowRoot.host.parentElementAcrossDocumentFragments();
                    } else {
                        this.hostParent = this.shadowRoot.getParentFragment().getElementById(this.targetId);
                    }
                    this.hostParent.addEventListener("drag", this.drag.bind(this));
                    this.hostParent.addEventListener("dragenter", this.dragEnter.bind(this));
                    this.hostParent.addEventListener("dragleave", this.dragLeave.bind(this));
                    this.hostParent.addEventListener("dragover", this.dragOver.bind(this));
                    this.hostParent.addEventListener("drop", this.drop.bind(this));
                    this.hostParent.addEventListener("paste", this.paste.bind(this));
                    var ownerDocument = this.shadowRoot.host.ownerDocument;
                    if (!ownerDocument.highlightDropzones) {
                        ownerDocument.highlightDropzones = this.globalHighlightDropzones;
                        ownerDocument.addEventListener("dragover", ownerDocument.highlightDropzones.bind(this), false);
                    }
                    if (!ownerDocument.unhighlightDropzones) {
                        ownerDocument.unhighlightDropzones = this.globalUnhighlightDropzones;
                        ownerDocument.addEventListener("dragleave", ownerDocument.unhighlightDropzones.bind(this), false);
                        ownerDocument.addEventListener("drop", ownerDocument.unhighlightDropzones.bind(this), true);
                        ownerDocument.addEventListener("drop", this.killEvent.bind(this), false);
                    }
                },
                killEvent: function(event) {
                    event.preventDefault();
                },
                acceptsDrop: function(event) {
                    return this.getMatchingItems(event).length > 0;
                },
                getMatchingItems: function(event) {
                    var result = [];
                    var dt = event.dataTransfer;
                    if (dt.items.length > 0) {
                        for (var i = 0; i < dt.items.length; i++) {
                            var item = dt.items[i];
                            if (this.acceptsItem(item)) {
                                result.push(item);
                            }
                        }
                    }
                    return result;
                },
                acceptsItem: function(item) {
                    var itemMediaType = parseMedia(item.type);
                    var acceptedMediaType = parseMedia(this["content-type"]);
                    var result = mediaCmp(acceptedMediaType, itemMediaType);
                    return result != null && result >= 0;
//                    return /^image\/.*$/.test(item.type);
                },
                itemsToFiles: function(itemsArr) {
                    var files = [];
                    for (var i = 0; i < itemsArr.length; i++) {
                        var item = itemsArr[i];
                        if (item.kind == "file") {
                            var file = item.getAsFile();
                            files.push({
                                        "type": item.type,
                                        "name": file.name,
                                        "size": file.size,
                                        "lastModifiedDate": file.lastModifiedDate,
                                        "blob": file,
                                        "getAsString": item.getAsString.bind(item),
                                        "webkitGetAsEntry": item.webkitGetAsEntry ? item.webkitGetAsEntry.bind(item) : undefined
                                    }
                            );

                        } else {
                            // TODO?
                        }
                    }
                    return files;
                },
                highlight: function() {
//                    this.displayOverlay();
                },
                unhighlight: function() {
//                    this.hideOverlay();
                },
                dragEnter: function(event) {
                    event.preventDefault();
                    console.log("Dragging, dataTransfer: ", event.dataTransfer);
/*
                    var dt = event.dataTransfer;
                    if (this.acceptsDrop(event)) {
                        this.displayOverlay();
                    }
*/
                },
                drag: function(event) {
                    event.preventDefault();
                },
                dragOver: function(event) {
                    if (this.acceptsDrop(event)) {
                        if (event.dataTransfer) {
                            event.dataTransfer.dropEffect = this.dropEffect;
                        }
                        this.displayOverlay();
                    }
                },
                dragLeave: function(event) {
                    event.preventDefault();
                    this.hideOverlay();
                },
                drop: function(event) {
                    console.log("Dropped", event);
                    this.hideOverlay();
                    this.fire("dropped", {"dropped": this.itemsToFiles(this.getMatchingItems(event))});
                },
                paste: function(event) {
                    var items = [];
                    console.log("Pasted", event);
                    if (event.clipboardData && event.clipboardData.items) {
                        items = this.itemsToFiles(event.clipboardData.items);
                    }
                    if (items.length > 0) {
                        this.fire("dropped", {"dropped": items});
                    }
                },
                displayOverlay: function() {
/*
                    var textEdit = this.shadowRoot.host;
                    var x = textEdit.offsetLeft;
                    var y = textEdit.offsetTop;
                    var width = textEdit.offsetWidth;
                    var height = textEdit.offsetHeight;
                    this.dragOverlay.style.top = y + "px";
                    this.dragOverlay.style.left = x + "px";
                    this.dragOverlay.style.width = width + "px";
                    this.dragOverlay.style.height = height + "px";
                    this.dragOverlay.style.display = "-webkit-box";
*/
                    this.dragOverlay.style.display = "block";
                },
                hideOverlay: function() {
                    this.dragOverlay.style.display = "none"
                }

            });
        })();
    </script>
    <template>
        <style>
            #drag-upload-overlay {
                font-family: "Helvetica Neue Light", Arial, sans-serif;
                font-size: 24pt;
                text-shadow: 2px 2px;
                vertical-align: middle;
                z-index: 1001;
                position: absolute;
                display: none;
                background-color: gray;
                text-align: center;
                /*opacity: .6;*/
                /*display: -webkit-box;*/
                -webkit-box-pack: center;
                -webkit-box-align: center;
            }
            :host {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            :host(.highlighted) {
                box-shadow: 0 0 10pt 10pt yellow;
            }
            :host(.highlighted:hover) {
              /*background-color: blue;*/
            }

        </style>
        <div id="drag-upload-overlay">
            <content></content>
        </div>
    </template>
</polymer-element>
