doctype html
mixin block(contentBlock, classes)
  div(id='x_'+(contentBlock.id), class='mdcms-content'+(classes?" "+classes:""), mdcms-content-id=''+(contentBlock.id))
    include includes/content
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    meta(charset='utf-8')
    if user
      script(src='/public/bower_components/platform/platform.js')
      link(rel='import', href='/public/bower_components/polymer/polymer.html')
      script(type='text/javascript', src='/public/javascripts/admin.js')
      link(rel='import', href="/public/components/webdavclient.html")
      link(rel='import', href="/public/components/markdown-editor.html")
      link(rel='import', href="/public/components/admin-bar.html")
    block head
  body
      if user
        mdcms-admin-bar(userName='#{user.name}', userEmail='#{user.email}', logoutUrl='/auth/logout')
      block body
        //each contentBlock in contentBlocks
        //  +block(contentBlock.id, contentBlock.content)
      if !user
        div#login-bar
          a(href='/auth/google') Login (Google)