<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../../components/drag-handle/drag-handle.html"/>
<!--<script type="text/javascript" src="../../javascripts/polyfills.js"></script>-->
<polymer-element name="child-window" attributes="title backdrop movable"
                 extends="core-overlay">
    <script>
        Polymer("child-window", {
            title: "Child window",
            backdrop: true,
            movable: false

        });
    </script>
    <template>
        <style>
            :host {
                border: outset;
                background-color: #ffffff;
                color: black;
                padding: 1em;
            }
        </style>
        <template if="{{movable}}">
            <drag-handle draggableId=":host"><h1 id="dragHandle">{{title}}</h1></drag-handle>
        </template>
        <template if="{{!movable}}">
            <h1>{{title}}</h1>
        </template>

        <shadow>
        </shadow>
    </template>

</polymer-element>