<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../bower_components/platform/platform.js"></script>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="child-window.html"/>
    <script>
        function handleCallback(evt) {
            console.log("Called back:", evt);
        }
        window.addEventListener("load", function() {
            var dialog = document.querySelector("child-window");
            dialog.addEventListener("close", handleCallback);
        });
    </script>
</head>
<body>
<button onclick="document.querySelector('child-window').open()">Open</button>
<button onclick="document.querySelector('child-window[title=\'Hei!\']').open()">Open</button>
<child-window onclose="handleCallback" title="Min dialog" movable="true" backdrop="false">
    Dato: <input type="date"/>
</child-window>
<child-window onclose="handleCallback" title="Hei!" movable="true" backdrop="false" okButton="false">
    <h2>Hei!</h2>
    <input type="email"/>
</child-window>
Her er et annet felt. Er det tilgjengelig? <input type="text"/>
<textarea rows="10" cols="10"></textarea>
</body>
</html>