.mdcms-content {
    transition-property: background-color, box-shadow;
    transition-duration: .5s;
}

.mdcms-content:not(.unfocused):not(.editing):hover {
    box-shadow: 0px 0px 10pt 10pt lightyellow;
    background-color: lightyellow;
    /*background-color: lightblue !important;*/
    cursor: url("../images/pencil-icon.png") 0 31, pointer;
    transition-property: background-color, box-shadow;
    transition-duration: .5s;
}

.edit-frame {
    /*position: absolute;*/
}

mdcms-markdown-editor {
    position: fixed;
    left: 50%;
    top: 30%;
    height: auto;
    width: auto;
    display: block;
}

mdcms-toolwindow {
    display: block;
}

core-overlay {
    background-color: white;
}

.mdcms-content.unfocused {
    opacity: .3;
    transition-property: opacity;
    transition-duration: 1s;
}

.mdcms-content.editing {
    box-shadow: inset 0 0 10pt 3pt lightyellow;
    transition-property: box-shadow;
    transition-duration: .5s;
}
