.mdcms-content {
    outline: 2px solid lightblue;
    outline-offset: 0.5em;
}

.mdcms-content:not(.unfocused):hover {
    background-color: lightblue !important;
    cursor: url("../images/pencil-icon.png") 0 31, pointer;
}

.edit-frame {
    /*position: absolute;*/
}

.mdcms-content.unfocused {
    opacity: .3;
}

.mdcms-content.editing {

}
