<link rel="import" href="../../bower_components/polymer/polymer.html">
    <!--<property theme="disabled" offsetY="20"></property>-->
</core-iconset>
<polymer-element name="markdown-editor" attributes="rows cols resize">
    <script type="text/javascript" src="./lib/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="./lib/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="Markdown.Editor.js"></script>
    <script>
        Polymer('markdown-editor', {
            resize: "both",
            commands: {},
            attached: function () {
                this.textarea = this.shadowRoot.querySelector("textarea");
                this.textarea.value = this.value;
                var md = Markdown.getSanitizingConverter();
/*
                this.features.getById = function(id) {
                    for (var i = 0; i < this.length; i++) {
                        var feature = this[i];
                        if (feature.id == id) {
                            return feature;
                        }
                    }
                };
*/
                this.editor = new Markdown.Editor(md, this.textarea, {}, this);
            },
            domReady: function() {
                var _this = this;
                this.editor.hooks.chain("onPreviewRefresh", function(text) {
//                    var message = {"mdcms-content-id": _this.mdCmsContentId, "html": _this.$["wmd-preview"].innerHTML};
//                    _this.asyncFire("refresh-preview", message);
                    _this.asyncFire("refresh-preview", {html: text});
                });
                this.editor.hooks.set("insertLinkDialog", function (callback) {
                    if (_this.insertingUrl) {
                        callback(_this.insertingUrl);
                        _this.insertingUrl = undefined;
                        return true;
                    }
                    var dialog = _this.$["link-insert-dialog"];
                    var dialogCloseListener = function (evt) {
                        console.log("Dialog state: ", evt.detail);
                        if (!(evt.detail === true)) {
                            dialog.removeEventListener("core-overlay-open", dialogCloseListener);
                            if (dialog.okButtonClicked) {
                                callback(dialog.querySelector("input").value);
                            } else {
                                callback(null);
                            }
                        }
                    };
                    dialog.addEventListener("core-overlay-open", dialogCloseListener);
                    dialog.querySelector("#okButton").onclick = function() {
                        dialog.okButtonClicked = true;
                        dialog.close();
                    };
                    dialog.querySelector("input").onkeypress = function(evt) {
                        if (evt.keyCode == 13) {
                            evt.preventDefault();
                            dialog.querySelector("#okButton").click();
                            return false;
                        }
                        return true;
                    };
                    dialog.okButtonClicked = false;
                    dialog.open();
                    return true;
                });
                this.editor.hooks.set("insertImageDialog", function (callback) {
                    if (_this.insertingUrl) {
                        callback(_this.insertingUrl);
                        _this.insertingUrl = undefined;
                        return true;
                    }
                });

                this.editor.run();
                Array.prototype.slice.call(this.shadowRoot.querySelectorAll("core-icon-button")).forEach(function(button) {
                    if (_this.commands[button.id]) {
                        button.addEventListener("click", function() {
                            _this.commands[button.id].execute();
                        });
                    }
                });
            },
/*            features: {
                "wmd-bold-button": {icon: "bold"},
                "wmd-italic-button": {icon: "italic"},
                "wmd-link-button": {icon: "link"},
                "wmd-quote-button": {icon: "quote"},
                "wmd-code-button": {icon: "code"},
                "wmd-image-button": {icon: "image"},
                "wmd-olist-button": {icon: "olist"},
                "wmd-ulist-button": {icon: "ulist"},
                "wmd-heading-button": {icon: "heading"},
                "wmd-hr-button": {icon: "hr"},
                "wmd-undo-button": {icon: "undo"},
                "wmd-redo-button": {icon: "redo"},
                "wmd-help-button": {icon: "help"},
                "wmd-save-button": {icon: "save"}
                },*/
            get value() {
                return this.textarea.value;
            },
            set value(value) {
                this.textarea.value = value;
            },
            doBold: function() {
                this.commands["wmd-bold-button"].execute();
            },
            doItalic: function() {
                this.commands["wmd-italic-button"].execute();
            },
            doLink: function(url) {
                if (url) {
                    this.insertingUrl = url;
                }
                this.commands["wmd-link-button"].execute();
            },
            doImage: function(url) {
                if (url) {
                    this.insertingUrl = url;
                }
                this.commands["wmd-image-button"].execute();
            },
            doQuote: function() {
                this.commands["wmd-quote-button"].execute();
            },
            doCode: function() {
                this.commands["wmd-code-button"].execute();
            },
            doNumberedList: function() {
                this.commands["wmd-olist-button"].execute();
            },
            doBulletList: function() {
                this.commands["wmd-ulist-button"].execute();
            },
            doHeading: function() {
                this.commands["wmd-heading-button"].execute();
            },
            doHr: function() {
                this.commands["wmd-hr-button"].execute();
            },
            doUndo: function() {
                this.commands["wmd-undo-button"].execute();
            },
            doRedo: function() {
                this.commands["wmd-redo-button"].execute();
            }
        });
    </script>
    <template>
        <style>
            textarea {
                resize: {{resize}};
            }
        </style>

        <textarea rows="{{rows}}" cols="{{cols}}"></textarea>
        <div id="preview"></div>
    </template>
</polymer-element>