<link rel="import" href="../../bower_components/polymer/polymer.html">
<core-iconset name="markdown-icons" extends="core-iconset" id="markdown-icons"
                 src="buttons.png"
                 width="300"
                 iconSize="20"
        icons="bold italic link quote code image numbered-list bullet-list header rule undo redo help exit spacer">
    <!--<property theme="disabled" offsetY="20"></property>-->
</core-iconset>
<polymer-element name="markdown-editor" attributes="rows cols resize">
    <link rel="import" href="../../bower_components/core-icon/core-icon.html">
    <link rel="import" href="../../bower_components/core-transition/core-transition-css.html">
    <link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
    <link rel="import" href="../../bower_components/core-overlay/core-overlay.html">
    <script type="text/javascript" src="./lib/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="./lib/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="Markdown.Editor.js"></script>
    <script>
        Polymer('markdown-editor', {
            resize: "both",
            commands: {},
            attached: function () {
                this.textarea = this.shadowRoot.querySelector("textarea");
                this.textarea.value = this.value;
                var md = Markdown.getSanitizingConverter();
/*
                this.features.getById = function(id) {
                    for (var i = 0; i < this.length; i++) {
                        var feature = this[i];
                        if (feature.id == id) {
                            return feature;
                        }
                    }
                };
*/
                this.editor = new Markdown.Editor(md, this.textarea, {}, this);
            },
            domReady: function() {
                var _this = this;
                this.editor.hooks.chain("onPreviewRefresh", function(text) {
//                    var message = {"mdcms-content-id": _this.mdCmsContentId, "html": _this.$["wmd-preview"].innerHTML};
//                    _this.asyncFire("refresh-preview", message);
                    _this.asyncFire("refresh-preview", {html: text});
                });
                this.editor.hooks.set("insertLinkDialog", function (callback) {
                    if (_this.insertingUrl) {
                        callback(_this.insertingUrl);
                        _this.insertingUrl = undefined;
                        return true;
                    }
                    var dialog = _this.$["link-insert-dialog"];
                    var dialogCloseListener = function (evt) {
                        console.log("Dialog state: ", evt.detail);
                        if (!(evt.detail === true)) {
                            dialog.removeEventListener("core-overlay-open", dialogCloseListener);
                            if (dialog.okButtonClicked) {
                                callback(dialog.querySelector("input").value);
                            } else {
                                callback(null);
                            }
                        }
                    };
                    dialog.addEventListener("core-overlay-open", dialogCloseListener);
                    dialog.querySelector("#okButton").onclick = function() {
                        dialog.okButtonClicked = true;
                        dialog.close();
                    };
                    dialog.querySelector("input").onkeypress = function(evt) {
                        if (evt.keyCode == 13) {
                            evt.preventDefault();
                            dialog.querySelector("#okButton").click();
                            return false;
                        }
                        return true;
                    };
                    dialog.okButtonClicked = false;
                    dialog.open();
                    return true;
                });
                this.editor.hooks.set("insertImageDialog", function (callback) {
                    if (_this.insertingUrl) {
                        callback(_this.insertingUrl);
                        _this.insertingUrl = undefined;
                        return true;
                    }
                });

                this.editor.run();
                Array.prototype.slice.call(this.shadowRoot.querySelectorAll("core-icon-button")).forEach(function(button) {
                    if (_this.commands[button.id]) {
                        button.addEventListener("click", function() {
                            _this.commands[button.id].execute();
                        });
                    }
                });
            },
/*            features: {
                "wmd-bold-button": {icon: "bold"},
                "wmd-italic-button": {icon: "italic"},
                "wmd-link-button": {icon: "link"},
                "wmd-quote-button": {icon: "quote"},
                "wmd-code-button": {icon: "code"},
                "wmd-image-button": {icon: "image"},
                "wmd-olist-button": {icon: "olist"},
                "wmd-ulist-button": {icon: "ulist"},
                "wmd-heading-button": {icon: "heading"},
                "wmd-hr-button": {icon: "hr"},
                "wmd-undo-button": {icon: "undo"},
                "wmd-redo-button": {icon: "redo"},
                "wmd-help-button": {icon: "help"},
                "wmd-save-button": {icon: "save"}
                },*/
            get value() {
                return this.textarea.value;
            },
            set value(value) {
                this.textarea.value = value;
            },
            doBold: function() {
                this.commands["wmd-bold-button"].execute();
            },
            doItalic: function() {
                this.commands["wmd-italic-button"].execute();
            },
            doLink: function(url) {
                if (url) {
                    this.insertingUrl = url;
                }
                this.commands["wmd-link-button"].execute();
            },
            doImage: function(url) {
                if (url) {
                    this.insertingUrl = url;
                }
                this.commands["wmd-image-button"].execute();
            },
            doQuote: function() {
                this.commands["wmd-quote-button"].execute();
            },
            doCode: function() {
                this.commands["wmd-code-button"].execute();
            },
            doNumberedList: function() {
                this.commands["wmd-olist-button"].execute();
            },
            doBulletList: function() {
                this.commands["wmd-ulist-button"].execute();
            },
            doUndo: function() {
                this.commands["wmd-undo-button"].execute();
            },
            doRedo: function() {
                this.commands["wmd-redo-button"].execute();
            },
            showInsertLinkDialog: function() {
                this.$["link-insert-dialog"].open();
            },
            insertLink: function() {
                var dialog = this.$["link-insert-dialog"];
                var url = dialog.querySelector("input").value;
                console.log(url);
                dialog.close();
            }
        });
    </script>
    <template>
        <style>
            textarea {
                resize: {{resize}};
            }
        </style>
        <core-icon-button id="wmd-bold-button" disabled?={{!commands["wmd-bold-button"].enabled}}  icon="markdown-icons:bold"></core-icon-button>
        <core-icon-button id="wmd-italic-button" disabled?={{!commands["wmd-italic-button"].enabled}}  icon="markdown-icons:italic"></core-icon-button>
        <core-icon icon="markdown-icons:spacer"></core-icon>
        <core-icon-button id="wmd-link-button" disabled?={{!commands["wmd-link-button"].enabled}}  icon="markdown-icons:link"></core-icon-button>
        <core-icon-button id="wmd-quote-button" disabled?={{!commands["wmd-quote-button"].enabled}}  icon="markdown-icons:quote"></core-icon-button>
        <core-icon-button id="wmd-code-button" disabled?={{!commands["wmd-code-button"].enabled}}  icon="markdown-icons:code"></core-icon-button>
        <core-icon icon="markdown-icons:spacer"></core-icon>
        <!--<core-icon-button id="wmd-image-button" disabled?={{!commands["wmd-image-button"].enabled}}  icon="markdown-icons:image"></core-icon-button>-->
        <!--<core-icon icon="markdown-icons:spacer"></core-icon>-->
        <core-icon-button id="wmd-olist-button" disabled?={{!commands["wmd-olist-button"].enabled}}  icon="markdown-icons:numbered-list"></core-icon-button>
        <core-icon-button id="wmd-ulist-button" disabled?={{!commands["wmd-ulist-button"].enabled}}  icon="markdown-icons:bullet-list"></core-icon-button>
        <core-icon-button id="wmd-heading-button" disabled?={{!commands["wmd-heading-button"].enabled}}  icon="markdown-icons:header"></core-icon-button>
        <core-icon-button id="wmd-hr-button" disabled?={{!commands["wmd-hr-button"].enabled}}  icon="markdown-icons:rule"></core-icon-button>
        <core-icon icon="markdown-icons:spacer"></core-icon>
        <core-icon-button id="wmd-undo-button" disabled?={{!commands["wmd-undo-button"].enabled}}  icon="markdown-icons:undo"></core-icon-button>
        <core-icon-button id="wmd-redo-button" disabled?={{!commands["wmd-redo-button"].enabled}}  icon="markdown-icons:redo"></core-icon-button>
        <core-icon icon="markdown-icons:spacer"></core-icon>
        <core-icon-button icon="markdown-icons:help"></core-icon-button>
        <core-icon-button id="wmd-save-button" disabled?={{!commands["wmd-save-button"].enabled}}  src="../../components/save-icon.png"></core-icon-button>
        <br/>
        <textarea rows="{{rows}}" cols="{{cols}}">
        </textarea>
        <div id="preview"></div>
        <core-overlay backdrop="true" layered="true" id="link-insert-dialog"
                      style="background-color: white; padding: 1em" transition="core-transition-center">
            <h1>Insert link</h1>
            <input size="100" type="url" autofocus autocomplete/>
            <button id="okButton">OK</button>
            <button id="cancelButton" core-overlay-toggle>Cancel</button>
        </core-overlay>
    </template>
</polymer-element>