<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../../public/bower_components/platform/platform.js"></script>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="include.html">
</head>
<body>
Her står det forskjellige<br/>
ting om fisk<br/>
bare for å få det litt<br/>
lengre ned på sida.<br/>
<test-inkludert style="position: absolute; left: 200px; top: 25px"></test-inkludert>
</body>
</html>