<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../../public/bower_components/platform/platform.js"></script>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="../upload-dropzone.html">
</head>
<body>
<div style="position: absolute; left: 10px; top: 50px; width: 200px; height: 200px">
    <mdcms-upload-dropzone content-type="image/*"></mdcms-upload-dropzone>
    I denne boksen skal jeg kunne dra-og-slippe inn ting.
</div>

<div style="position: absolute; left: 250px; top: 50px; width: 100px; height: 200px">
    <img src="https://ssl.gstatic.com/gb/images/v1_2e543709.png"/>
</div>
</body>
</html>